extends ./layout.jade

block vars
	- var title = 'Callouts'

block content

	if user
		each val in JSON.parse(messages)
			div.callouts
				div.panel-body					
					div.panel.panel-info
						div.panel-heading.= val.name 
						div.panel-body= val.message
						if own
							a(href='delete/'+val.id)
								div.form-group
									div.col-sm-offset-4.col-sm-4
										button.btn.btn-danger(type='submit') Delete	

