extends ./layout.jade

block vars
	- var title = 'Callouts'

block content

	if user

		h2.text-center See Whats Happening in #{user.customData.city}


		div.callouts
			div.panel-body
				each val in JSON.parse(messages)
					div.panel.panel-info
						div.panel-heading.= val.name
						div.panel-body= val.message
	hr
