//
   Created by Carla on 2016-03-29.
//
doctype html
html(ng-app='myApp')
    //http://qnimate.com/facebook-style-chat-box-popup-using-javascript-and-css/
//script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
script(src='/angular/angular.min.js')
link(href='/css/chat.css', rel='stylesheet')
//Popups
script(src='/modules/chat.js')
//Angular
script(src='/modules/chatController.js')
//socket.io
script(src='/../socket.io/socket.io.js')
script(type='text/javascript').
    var socket=io();
ul.chat-sidebar(ng-controller="chatCtrl")
    li.sidebar-name(ng-repeat="name in names") {{ name.firstName}} {{ name.lastName }}
        a(href="javascript:register_popup( {{ name.firstName}}, {{ name.lastName }} );")