//
   Created by Carla on 2016-03-29.
//
doctype html
html(ng-app='myApp')
    //http://qnimate.com/facebook-style-chat-box-popup-using-javascript-and-css/
//script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
script(src='/angular/angular.min.js')
link(href='/css/chat.css', rel='stylesheet')
//Popups
script(src='/modules/chat.js')
//Angular
script(src='/modules/chatController.js')
//socket.io
script(src='/../socket.io/socket.io.js')
script(type='text/javascript').
    var socket=io();
ul.chat-sidebar(ng-controller="chatSidebarCtrl")
    li.sidebar-name(ng-repeat="name in names")
        //p(ng-click="make_popup(name.firstName+'-'+name.lastName,name.firstName+' '+name.lastName,$event)")
        p(ng-click="make_popup(name.firstName+'-'+name.lastName,name.firstName+' '+name.lastName,$event)")
            {{name.firstName}} {{name.lastName}}


div.popup-box.chat-popup(id="id" ng-controller="chatPopupCtrl" ng-show="showpopup")
    div.popup-head
        div.popup-head-left '++ name ++'
        div.popup-head-right
            a(ng-click="close_popup()", href="" ) ✕
        div(style='clear: both')
    div.popup-messages
        input.text-box(type="text", placeholder="blahblahblah")
        button.send-button(ng-click="count=count+1" ng-init="count=0") Send

        //href="javascript:close_popup(\''id'\')