block vars
  - var title

doctype html
html(lang='en' ng-app)
  head
    block title
      title=title ? (siteName + ' - ' + title) : siteName
    block css
      link(href='css/main.css', rel='stylesheet')
      link(href='css/bootstrap.css', rel='stylesheet')
    block js
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

  body
    include navbar
    if user
      include chat
    else
      div.home
    div.container 
      block content