extends ./layout.jade

block vars
	- var title = 'Profile'

block content

	if user

		h2.text-center #{user.fullName}


		div.panel.panel-primary
			div.panel-heading.
				Enter your profile information below, then save your changes
			div.panel-body
				each val in JSON.parse(user)
					form.form-horizontal(method='post', action='/profile')

						div.form-group
							label.control-label.col-sm-4 
							div.col-sm-4
								input.form-control(type='hidden', name='email', value=val.id)
					
						div.form-group
							label.control-label.col-sm-4 City
							div.col-sm-4
								input.form-control(type='text', name='city', value=val.city)
						
						div.form-group
							label.control-label.col-sm-4 Preferred Genre
							div.col-sm-4
								input.form-control(type='text', name='genre', value=val.genre)

						div.form-group
							div.col-sm-offset-4.col-sm-4
								button.btn.btn-default(type='submit') Save


